[project]
	description = code
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/yzf312
[access "refs/for/refs/*"]
	read = group user/yzf312
	push = group user/yzf312
	label-Code-Review = -2..+2 group user/yzf312
	label-Verified = -1..+1 group user/yzf312
	rebase = group user/yzf312
	removeReviewer = group user/yzf312
	submit = group user/yzf312
[access "refs/heads/*"]
	read = group user/yzf312
	create = group user/yzf312
	push = +force group user/yzf312
	pushMerge = group user/yzf312
[access "refs/tags/*"]
	push = +force group user/yzf312
	pushTag = group user/yzf312
	pushSignedTag = group user/yzf312
